[Unit]
Description=Xplico
After=network.target syslog.target

[Service]
Type=forking
PrivateTmp=true
ExecStart=/opt/xplico/bin/dema -c /opt/xplico/cfg/xplico.cfg
ControlGroup=cpu:/
Restart=always
PIDFile=/var/run/dema.pid

[Install]
WantedBy=multi-user.target
